html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img,
small, strike, strong, sub, sup, tt,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
}
*{margin:0;padding:0;box-sizing:border-box;word-wrap:break-word;    -webkit-tap-highlight-color: transparent;}
*:after,*:before{box-sizing:border-box;}
a{color:inherit;text-decoration:none;outline:none;}
img{display:block;}
:focus{outline:0;box-shadow:none;}
a:hover{cursor:pointer;}
input,textarea,button{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;border-radius:0;line-height:normal;outline:0;box-shadow:none;border:none;font-family:inherit;font-weight: inherit;}
button{display:inline-block;cursor:pointer;border:none;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input[type=submit]{-webkit-appearance:none;-moz-appearance:none;cursor:pointer;}
button:focus,textarea:focus,a:focus,a:hover,button:hover{outline:none;cursor:pointer;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
ul{list-style:none;}
li a{display: block;}
.logo:hover,header .menu .menu-item a:hover{text-decoration: none;}

/* custom classes */
.d-flex{display:flex;}
.flex-wrap{flex-wrap:wrap;}
.align-center{align-items:center;}
.align-end{align-items:flex-end;}
.align-start{align-items:flex-start;}
.justify-center{justify-content:center;}
.justify-content-between{justify-content:space-between;}
.justify-content-around{justify-content:space-around;}
.justify-content-end{justify-content: flex-end;}
.flex-column{flex-direction:column;}
.flex-row{flex-flow: row;}
.flex-row-reverse{flex-direction:row-reverse;}
.flex-grow{flex-grow: 1;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.d-none{display: none;}
/* custom classes end*/

/* site css starts */
html{font-size:62.5%;scroll-behavior: smooth;height: 100%;-webkit-text-size-adjust:100%;}
body{font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;color: #313131;font-weight:400;overflow-x:hidden;-webkit-font-smoothing:antialiased;height: 100%;}
.main{min-height: 100%;}
.inner-wrap {height: 100%}
.row{margin: 0 -15px;}

/* header */ 
header{position: relative;background: #fff;}
header .logo{flex:1;}
.header-menu{margin-left:auto}
.header-inner-wrap{max-width: 1400px;margin: 0 auto;position:relative;height: 60px;padding:0 20px}
.logo a{display: inline-block;overflow: hidden;}

/* content */
.content{margin-bottom: 20px;font-size: 1.8rem;line-height: 1.8;}
.content p,.content span{font-size: 1.8rem;line-height:1.8;margin-bottom: 25px;color: #313131;display: block;}
.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{font-size: 2.6rem;font-weight: 700;margin-bottom: 10px;line-height: 1.8;color: #313131;margin-top: 15px;font-family: "Roboto-Regular", arial, sans-serif;}
.content strong,.content b{font-weight: bold;}
.content ul{margin: 20px 0 20px 0;list-style: none;}
.content ul li{color: #313131;margin: 5px 0 5px;}
.content ol li{color: #313131;margin: 5px 0 5px;}
.content ol {counter-reset: item;margin-bottom: 20px;}
.content ol li {list-style-type: none;counter-increment: item;}
.content ol li:before {display: inline-block;padding-right: 0.5em;font-weight: 800;text-align: right; content: counter(item) ".";}
.content table td, .content table th {border: 1px solid #ddd;padding: 6px;}
.content table{border: 1px solid #ddd;}
.content img{width: 100%;height: auto;display: block;margin-bottom: 15px;}



/* privacy */
.legal-pages-main-container{max-width: 1098px;margin:21px auto 30px;padding:0 20px;}
.legal-pages-wrap{max-width: 100%;flex: 1 1 100%;padding:0 20px;}
.legal-pages-title{font-size: 3rem; line-height: 1.2;color: #313131;margin-bottom: 25px;text-transform: capitalize;font-family: "Roboto-Regular", arial, sans-serif;}
.legal-pages-content-wrap .content{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.legal-pages-content-wrap .content p, .legal-pages-content-wrap .content{font-size: 1.5rem;}
.legal-pages-content-wrap .content h1{font-size: 3rem;line-height: 1.5;font-weight: 400;}
.legal-pages-content-wrap .content h2{font-size: 2.7rem;font-weight: 400;}
.legal-pages-content-wrap .content h3{font-size: 2.2rem;font-weight: 400;}
.legal-pages-content-wrap ul{margin-left: 20px;}
.legal-pages-content-wrap ul li{list-style-type: disc;}
.legal-pages-content-wrap ul li a, .legal-pages-content-wrap p a{display: inline;}
.legal-pages-content-wrap ul li a:hover, .legal-pages-content-wrap p a:hover{text-decoration: underline;}
.legal-pages-content-wrap .content table{border-spacing: 0;border-collapse: collapse;}
.legal-pages-content-wrap .content table td, .legal-pages-content-wrap .content table th{border-color: #ededed;padding: 2px 8px;}
.legal-pages-content-wrap .bread-crumb{font-size: 1.2rem;color: #c3c3c3;line-height: 18px;padding-top: 1px;padding-bottom: 2px}


/* error page */
.e-container{position: relative;margin:30px auto;max-width: 1068px;background: #fff;padding: 78px 40px;text-align: center;}
.e-title{font-size: 3.4rem;line-height: 1.2;color: #313131;margin-bottom: 25px;}
.e-desc{font-size: 1.6rem;line-height: 1.1;color:#313131;margin-bottom: 35px;}
.e-btn{display: block;line-height: 40px;height: 40px;width: 180px; background: #000;text-align: center;margin:0 auto;font-size: 1.3rem;color: #fff;text-transform: uppercase;transition: .3s ease-in-out}
.e-btn:hover{transition: .3s ease-in-out}

/* Footer */
.footer .logo a{margin-bottom: 20px;}
.footer .logo a svg{width: 100%;height: auto;}
.menu-footermenu-container{display: flex;justify-content: center;align-items: center;}
.footer-wrap{font-size: 1.2rem;color:#fff;text-align: center;}
.footer-wrap .menu{display: flex;align-items: center;}
.footer-wrap ul{display: flex;justify-content: center;flex-wrap: wrap;}
.footer-wrap li{margin-right: 16px;}
.footer-wrap li a{color: #747474;font-size: 1.2rem;line-height:1.5 ;}
.footer-wrap li:hover a{opacity: 0.8;}
.footer-wrap li:last-child{border-right: none;}
footer{background-image: url('../../images/footerbg.png'); background-size: cover; background-position: center top;padding-top:0px;}
.footer-container .container{max-width: 1400px;margin: 0 auto;padding:0 20px;}
.footer-top-wrap{padding-top: 64px; padding-bottom: 32px;position: relative;}
.footer-top-wrap:before{content: "";position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: #000;opacity: 0.5;}
.footer-top-wrap .container{position: relative;z-index: 1;}
.footer-bottom-wrap{background:#fff;}
.footer-top-content > li{max-width: 38%;flex: 1 1 38%;}
.footer-email-wrap{padding: 21px 0;}
.footer-email-wrap a{display: inline;}
.footer-email-wrap a:hover{text-decoration: underline;}
.footer-content{font-size: 1.4rem;line-height: 1.5;color: #fff;}
.footer-content p{margin-bottom: 10px;}
.copyright{margin-top: 16px; margin-bottom: 16px; line-height: 20px;color: #747474;}

 @media only screen and (max-width:970px){
  .footer-top-content{flex-direction: column; display:block;}
}
@media only screen and (max-width:650px){
  .header-inner-wrap{padding: 0 20px;justify-content: center;height: 54px;box-shadow: 0 4px 8px 0px rgb(0 ,0 , 0 , 0.05);}
  header .logo{flex: unset;}

  .footer-content{text-align: center;}
  .footer-wrap{flex-flow: column-reverse;}
  .footer-wrap .menu{margin-top: 8px;}
  .footer-top-content > li{max-width: 100%;flex: 1 1 100%;}
  .footer-wrap li{margin-bottom: 5px;}
}