.contact-main-container{max-width: 1400px;margin:48px auto;padding:0 20px;}
.contact-title{font-size: 4rem; line-height: 1.2;color: #000;margin: 10px 0 26px;text-transform: capitalize;font-family: "Roboto-Regular", arial, sans-serif;}
.header-wrap .get-in-touch{border-bottom-style: solid;border-bottom-width: 2px;height:21px;margin-bottom: 48px;}


.header-wrap .get-in-touch span{padding: 5px 12px;font-size: 1.4rem;line-height: 1; font-weight: 500;color: #fff;}
.header-wrap .desc{font-size: 1.6rem;line-height: 1.5;color: #666;}
.contact-layout{padding: 100px 0;}
.info-wrap{width: 38%;margin-top: 0px;}
.info-wrap .info{width: calc(100% - 50px);}
.info-wrap .email svg{margin-right: 15px;}
.info-wrap .address{margin-bottom: 40px;}
.info-wrap .address svg{margin-right: 15px;}
.info-wrap h3{font-size: 2.4rem;font-weight: 500;line-height: 1;margin: 10px 0 7px;font-family: "Roboto-Regular", arial, sans-serif;}
.info-wrap .email p a:hover{text-decoration: underline;}
.info-wrap p{font-size: 1.4rem;line-height: 1.5;color: #666;}
.info-wrap .address p{font-size: 2.5rem;line-height: 1.5;color: #000;}

.info-wrap .email p{color: #065ab8;}
.info-wrap svg > path{ fill: #065ab8; }
.unsubscribe-main-container .content .rsvp-form input[type="submit"]{background:#2356F6;transition: color .44s ease;}
.unsubscribe-main-container .content .rsvp-form input[type=submit]:hover{background: #0046a7;}

.contact-wrap{width: 58%;padding: 20px;margin-right: -20px;background: #dfdfdf;}
.contact-wrap .content h2{font-size: 2.4rem;font-weight: 400;line-height: 1;margin: 10px 0 27px;font-family: "Roboto-Regular", arial, sans-serif;}
.rsvp-form{background: #fff;padding: 20px 30px;}
.content .rsvp-form p{margin-bottom: 0;}
.content .rsvp-form label{color: #222;font-size: 1.5rem;line-height: 1.74;font-family: Verdana, Geneva, Tahoma, sans-serif;}
input[type=text], input[type=url], input[type=tel], input[type=email]{    font-size: 12px;line-height: 21px;color: #444;border: 1px solid #b0b0b0;width: 100%;max-width: 100%;height: 34px;padding: 3px 9px;}
.content .rsvp-form p.error{color: #FF0000;}
.content .rsvp-form .form-input-wrap{margin-bottom: 26px;}
.content .rsvp-form input[type=submit]{font-family: 'Roboto', sans-serif;font-size: 1.3rem;border-radius: 0;color: #fff;border: none;padding: 8px 15px;font-weight: 500;-webkit-transition: background-color 0.44s ease;transition: color 0.44s ease;max-width: none;width: auto;background:#2356F6;}

@media only screen and (max-width: 767px){
  .contact-layout{flex-direction: column;padding: 50px 0;}
  .info-wrap{width: 100%;margin: 0 0 40px;}
  .contact-wrap{width: 100%;}
  .info-wrap h3, .contact-wrap .content h2{font-size: 1.5rem;}
}