/* privacy */
.legal-pages-main-container{max-width: 1186px;margin:21px auto 30px;padding:0 20px;}
.legal-pages-wrap{max-width: 100%;flex: 1 1 100%;padding:0 20px;}
.legal-pages-title{font-size: 3rem; line-height: 1.2;color: #313131;margin-bottom: 25px;text-transform: capitalize;font-family: "Roboto-Regular", arial, sans-serif;}
.legal-pages-content-wrap .content{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.legal-pages-content-wrap .content p, .legal-pages-content-wrap .content{font-size: 1.5rem;margin-bottom: 25px;}
.legal-pages-content-wrap .content h1{font-size: 3rem;line-height: 1.5;font-weight: 400;}
.legal-pages-content-wrap .content h2{font-size: 2.7rem;font-weight: 400;margin-top: 15px;margin-bottom: 10px;}
.legal-pages-content-wrap .content h3{font-size: 2.2rem;font-weight: 400;}
.legal-pages-content-wrap ul{margin-left: 20px;}
.legal-pages-content-wrap ul li{list-style-type: disc;}
.legal-pages-content-wrap ul li a, .legal-pages-content-wrap p a{display: inline;color: #138be1;}
.legal-pages-content-wrap ul li a:hover, .legal-pages-content-wrap p a:hover{text-decoration: underline;}
.legal-pages-content-wrap .content table{border-spacing: 0;border-collapse: collapse;}
.legal-pages-content-wrap .content table td, .legal-pages-content-wrap .content table th{border-color: #ededed;padding: 2px 8px;}
.legal-pages-content-wrap .bread-crumb{font-size: 1.2rem;color: #c3c3c3;line-height: 18px;padding-top: 1px;padding-bottom: 2px}



/* tos */
.tos-main-container{max-width: 1186px;margin:30px auto;background: #fff;padding:0 15px;}
.tos-wrap{max-width: 100%;flex: 1 1 100%;padding:0 15px;}
.tos-title{font-size: 4.2rem; line-height: 1.2;color: #313131;margin-bottom: 25px;text-transform: capitalize;}