/* Modify Theme Elements Colors */

/* Header */
.header-wrap .get-in-touch{border-bottom-color: #065ab8;}
.header-wrap .get-in-touch span{background: #065ab8;}

/* footer */
.footer-email-wrap a{color: #50e4ff;}

/* Legal Pages */
.legal-pages-content-wrap ul li a, .legal-pages-content-wrap p a{color: #065ab8;}

/* Contact Page */
.info-wrap .email p{color: #065ab8;}
.info-wrap svg > path{ fill: #065ab8; }
.content .rsvp-form input[type=submit]:hover{background-color: #065ab8;}

/* Unsubscribe Page */
.unsubscribe-main-container .content .rsvp-form input[type="submit"]{background: #065ab8;}

/* Home Page */
.home-container .form-wrap .search-btn{background: linear-gradient(to bottom, #138ae0 0%, #065ab8 100%);}

/* error page */
.e-btn:hover{background:#065ab8;}