/* common classes */
.container {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}
.title {
  font-size: 4em;
  line-height: 1.25;
  font-weight: bold;
  color: #0f0f32;
  font-family: "Manier";
}
.para {
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: normal;
  color: #8b8e8b;
  font-family: "Jost";
}
.img-wrap {
  max-width: 100%;
  height: auto;
}
.btn {
  width: 130px;
  height: 35px;
  font-family: "Jost";
  border-radius: 50px;
}
.anchor {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
/* section1........................................................ */
.section1 {
  background-color: #f3f3f3;
}
#sec1-inner-wrap {
  display: flex;
  justify-content: space-between;
}
.sec1-left-wrap {
  padding-top: 80px;
  width: 37%;
}
#sec1-para {
  margin-top: 50px;
}
.mobile_view_para {
  display: none;
}
.sec1-right-wrap {
  width: 63%;
  max-width: 1170px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0 0 0;
}

/* section2......................................... */
#sec2-inner-wrap {
  display: flex;
}
.sec2-left-wrap {
  width: 50%;
  padding-top: 59px;
  /* padding-left: 101px; */
  /* background-color: red; */
}
#sec2-head1 {
  font-size: 3em;
  line-height: 1.25;
}
#sec2-head2 {
  font-size: 1.5em;
  line-height: 1.5;
  color: #0f0f32;
  margin-top: 75px;
}
#sec2-head3 {
  font-size: 4em;
  line-height: 1.5;
  font-weight: bold;
  color: #0f0f32;
}
.list {
  margin-top: 50px;
  margin-left: 30px;
}
.list li {
  list-style-type: disc;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 30px;
}
#sec2-btn {
  background-color: #0f0f32;
  color: #f3f3f3;
  margin-top: 19px;
}
#sec2-head4 {
  font-size: 3em;
  line-height: 1.5;
  margin-top: 95px;
}
.sec2-right-wrap {
  width: 50%;
  max-width: 750px;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px -120px 0 0;
}
/* section3................................................................ */
.section3 {
  background-color: #f3f3f3;
}
#sec3-container {
  margin-top: 52px;
  padding: 50px 0 69px 0;
}
#sec3-title {
  font-size: 3em;
  line-height: 1.5;
}
.faq {
  width: 700px;
  height: 40px;
  background-color: #ffffff;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq .text span {
  font-size: 1.35em;
  line-height: 1.5;
  font-weight: normal;
  color: #707070;
}
.faq .add{
  font-size: 1.35em;
  line-height: 1.5;
  font-weight: bold;
  color: #0f0f32;
}
/* section4................................................................. */

#sec4-container {
  margin-top: 100px;
}
#sec4-inner-wrap {
  display: flex;
  justify-content: space-between;
}
.sec4-left-wrap {
  /* padding-top: 136.5px; */
  /* padding-left: 100px; */
  width: 35%;
}
#sec4-para {
  margin-top: 24px;
}
.input {
  width: 260px;
  height: 35px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 25px;
  /* padding-left: 17.5px; */
  padding: 13.5px 17.5px;
  margin-top: 25px;
}
#sec4-btn {
  background-color: #0f0f32;
  color: #f3f3f3;
  margin-top: 50px;
}
.sec4-right-wrap {
  width: 65%;
  max-width: 985px;
  height: 440px;
  background-size: contain;
  background-repeat: no-repeat;
  /* margin-left: 30px; */
}

/* media query for mobile view */
@media screen and (max-width: 599px) {
  #sec1-title,
  #sec1-para,
  .sec1-right-wrap {
    display: none;
  }
  .sec1-left-wrap {
    background-color: #ffffff;
    width: 100%;
    padding-top: 30px;
  }
  .mobile_view_para {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.5;
  }
  /* sec2............................. */
  #sec2-inner-wrap {
    flex-direction: column;
  }
  .sec2-left-wrap {
    width: 100%;
  }
  #sec2-head1 {
    font-size: 5em;
  }
  #sec2-head2 {
    font-size: 3em;
  }
  #sec2-head3 {
    font-size: 6em;
  }
  #sec2-head4 {
    display: none;
  }
  .list li {
    font-size: 3em;
  }
  .para {
    font-size: 2.5em;
    line-height: 1.5;
  }
  #sec2-btn {
    width: 150px;
    height: 50px;
    font-size: 2em;
  }
  .sec2-right-wrap {
    width: 100%;
  }
  /* sec3................................ */
  .section3 {
    background-color: #ffff;
  }
  #sec3-title {
    margin-left: 15px;
    font-size: 5em;
  }
  .faq {
    padding: 10px ;
    /* font-size: 2em; */
    background-color: #f3f3f3;
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
  }
  .faq .text h1 {
    font-size: 2.5em;
  }
  .faq span{
    font-size: 2.5em;
    color: #707070;
  }
  .faq .add{
    font-size: 2.5em;
    color: black;
  }
  /* sec4................................................... */
  #sec4-container {
    margin-top: 50px;
  }
  #sec4-inner-wrap {
    flex-direction: column;
  }
  .sec4-left-wrap {
    width: 100%;
  }
  #sec4-title {
    font-size: 5em;
  }
  #sec4-para {
    font-size: 3em;
  }
  .input {
    width: 100%;
    font-size: 2em;
    background-color: #ffff;
    border-radius: 0;
    border-bottom: 2px solid black;
  }
  .sec4-right-wrap {
    width: 100%;
    height: 300px;
  }
}

/* media query for tablet view */
@media screen and (min-width: 599px) and (max-width: 799px) {
  #sec1-inner-wrap {
    flex-direction: column;
  }
  .sec1-left-wrap {
    width: 100%;
  }
  .sec1-right-wrap {
    width: 100%;
    margin: 0 auto;
    height: 520px;
  }
  #sec1-para {
    font-size: 3em;
    line-height: 1.5;
  }
  #sec2-head2 {
    font-size: 3em;
  }
  .list li {
    font-size: 3em;
  }
  .para {
    font-size: 2.5em;
  }
  .faq {
    height: 60px;
  }
  .faq .text h1 {
    font-size: 2em;
  }
  #sec4-inner-wrap {
    flex-direction: column;
  }
  .sec4-left-wrap {
    width: 100%;
  }
  .sec4-right-wrap {
    width: 100%;
  }
}
