html,
body {
  width: 1920px;
}
/* nav bar */
.nav {
  height: 140px;
  font-size: 20px;
  font-weight: normal;
  color: #0f0f32;
  font-family: "Jost";
  opacity: 1;
  padding: 0 104px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .logo .img-wrap {
  /* max-width: 100%;
    height: auto; */
  /* temporary width & height */
  width: 301px;
  height: 61.7px;
  background-image: url(https://plus.unsplash.com/premium_photo-1667354156208-7b0e98c685d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1905&q=80);
  background-repeat: no-repeat;
}
.nav .nav-center ul {
  width: 716.72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-right {
  width: 155.1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* section1........................................................................................................  */
.section1 {
  width: 1920px;
  display: flex;
  padding-left: 100px;
}
.sec1-left {
  width: 1002px;
}
.sec1-left > h1 {
  font-size: 80px;
  font-weight: bold;
  color: #0f0f32;
  font-family: "Manier";
  opacity: 1;
  text-align: left;
  margin: 225px 0 7px 0;
  letter-spacing: 0px;
}
.sec1-left > p {
  margin-top: 7px;
  text-align: left;
  font: normal normal 500 20px Jost;
  letter-spacing: 0px;
  opacity: 1;
}
.sec1-right > img {
  height: 1080px;
}

/* section 2............................................................. */
.section2 {
  background: #f3f3f3 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 50px 0 69px 101px;
}
.section2 #title {
  font-size: 40px;
  font-weight: bold;
  color: #0f0f32;
  font-family: "Manier";
  opacity: 1;
  letter-spacing: 0px;
  margin-bottom: 50px;
}
.sec2-down .faq {
  width: 1052px;
  height: 50px;
  font-size: 20px;
  font-weight: medium;
  color: #707070;
  font-family: "Jost";
  opacity: 1;
  text-align: left;
  letter-spacing: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  margin-bottom: 50px;
  padding: 0 18px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* section 8............................................................. */
.section8 {
  display: flex;
  padding: 0 118px 0 100px;
}
.section8 .left-wrap #title {
  font-size: 80px;
  font-weight: bold;
  color: #000000;
  font-family: "Manier";
  opacity: 1;
  text-align: left;
  margin: 211px 0 24px 0;
}
.section8 .left-wrap p {
  font-size: 29px;
  font-weight: normal;
  color: #757575;
  font-family: "Jost";
  opacity: 1;
}
.section8 .left-wrap input {
  width: 453px;
  height: 50px;
  font-size: 16px;
  font-weight: normal;
  color: #c9c9c9;
  font-family: "Jost";
  opacity: 1;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 25px;
  padding-left: 20px;
  margin: 47px 0 50px 0;
}
.section8 .left-wrap button {
  width: 177px;
  height: 55px;
  font-size: 20px;
  font-weight: normal;
  color: #f3f3f3;
  font-family: "Jost";
  opacity: 1;
  background: #0f0f32 0% 0% no-repeat padding-box;
  border-radius: 50px;
}
.section8 .right-wrap img {
  /* max-width: 100%;
      height: auto; */
  /* temporary width & height */
  width: 985px;
  height: 703px;
  margin: 100px 0 0 172px;
}
/* footer............................................................. */
.footer {
  color: white;
  background-color: #0f0e26;
  width: 1920px;
  padding: 48px 100px 51px 136px;
}
.footer-up {
  margin: 0 auto;
  max-width: 1684px;
  display: flex;
}
.products {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.products > h1 {
  font: normal normal bold 29px Jost;
  color: #ffffff;
  opacity: 1;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.products-down {
  display: flex;
  justify-content: space-between;
}
.product-list {
  margin-top: 40px;
}
.product-list > h2 {
  text-align: left;
  font: normal normal medium 23px Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.product-list > ul > li {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  font: normal normal 300 16px/23px Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
#ic {
  color: white;
}
.education {
  margin-left: 121px;
}
.education > h1 {
  text-align: left;
  font: normal normal bold 29px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.education > ul {
  margin-top: 40px;
}
.education > ul > li {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  font: normal normal 300 16px/23px Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.info {
  margin-left: 140px;
}
.info > h1 {
  text-align: left;
  font: normal normal bold 29px Jost;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.info > ul {
  width: 144px;
  margin-top: 40px;
}
.info > ul > li {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  font: normal normal 300 16px/23px Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.icons {
  /* background-color: red; */
  font-size: 28px;
  width: 144px;
  margin-left: 500px;
  display: flex;
  justify-content: space-between;
}
.footer-down {
  /* background-color: red; */
  margin-top: 164px;
  display: flex;
  align-items: center;
}
.down-sec-1 > h2 {
  text-align: left;
  font: normal normal 500 16px Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.down-sec-2 > h2 {
  margin-left: 616px;
  text-align: left;
  font: normal normal 500 16px Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.down-sec-3 {
  margin-left: 543px;
  width: 275px;
  display: flex;
  justify-content: space-between;
}
.down-sec-3 > h2 {
  text-align: left;
  font: normal normal 500 16px Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.footer2 {
  height: 100px;
}
