 
/* footer............................................................. */
#footer-container{
  background-color: #0F0E26;
  color: #f3f3f3;
  padding: 48px 100px 51px 100px;
}
.footer-up {
  margin: 0 auto;
  max-width: 1684px;
  display: flex;
}
.products {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.products > h1 {
  font-size: 2.9em;
  font-weight: bold;
  color: #f3f3f3;
  font-family: "Jost";
  opacity: 1;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.products-down {
  display: flex;
}
.product-list {
  margin-top: 40px;
  margin-left: 24px;
}
.product-list > h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #f3f3f3;
  font-family: "Jost";
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  margin-left: 24px;
}
.product-list > ul > li {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  font: normal normal 300 1.6em Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
  margin-left: 24px;
}

.education {
  margin-left: 121px;
}
.education > h1 {
  text-align: left;
  font: normal normal bold 2.9em Jost;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.education > ul {
  margin-top: 40px;
}
.education > ul > li {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  font: normal normal 300 1.6em Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.info {
  margin-left: 100px;
}
.info > h1 {
  text-align: left;
  font: normal normal bold 2.9em Jost;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.info > ul {
  width: 144px;
  margin-top: 40px;
}
.info > ul > li {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  font: normal normal 300 1.6em Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}

.icons {
  /* background-color: red; */
  font-size: 2.8em;
  width: 144px;
  margin-left: 500px;
  display: flex;
  justify-content: space-between;
}
.footer-down {
  /* background-color: red; */
  margin-top: 164px;
  display: flex;
  align-items: center;
}
.down-sec-1 > h2 {
  text-align: left;
  font: normal normal 500 1.6em Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.down-sec-2 > h2 {
  margin-left: 616px;
  text-align: left;
  font: normal normal 500 1.6em Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.down-sec-3 {
  margin-left: 543px;
  width: 275px;
  display: flex;
  justify-content: space-between;
}
.down-sec-3 > h2 {
  text-align: left;
  font: normal normal 500 1.6em Jost;
  letter-spacing: 0px;
  color: #f3f3f3;
  opacity: 1;
}
.footer2{
  background-color: #ffff;
}

#f2-inner-wrap{
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#f2-img{
  width: 301px;
  height: 62px;
}