 /* header................................................................................................ */
header{
  /* position: relative; */
  padding: 0 104px 0 100px;
}
#header-inner-wrap{
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.header-center{
margin-left: 100px;
}
.desktop-menu-container{
  width: 500px;
}
.menu{
  font-size: 1.5em;
  font-weight: normal;
  color: #0F0F32;
  font-family: "Jost";
  opacity: 1;
  display: flex;
  justify-content: space-between;
}

.icons{
  display: flex;
  justify-content: space-between;
}
#logo{
  width: 200px;
  height: 50px;
}
