.desktop-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 104px 40px 100px;
}
.header-left a .img-wrap {
  width: 300.07px;
  height: 61.7px;
  background-color: red;
}
.header-center .menu-list .menu-headermenu-container ul{
  display: flex;
  gap: 52px;
}
.header-center .menu-list .menu-list .menu-headermenu-container .menu li a{
  font-size: 2em;
  color: #0F0F32;
  font-family: "Jost";
  font-weight: medium;
}
.header-right .icons{
  width: 144px;
  display: flex;
  gap: 25px;
}
