/* category page */
.category-container{max-width: 966px;margin: 0 auto 30px;background: #fff;padding: 0 15px;}
.category-left-wrap{max-width: 100%;flex: 1 1 100%;padding:0 15px;}
.category-title {overflow: hidden;padding: 20px 0;background-color: rgba(0, 0, 0, 0.05);}
.category-title h6 {margin-bottom: 0;font-size:4.8rem;letter-spacing: 1px;color:#000
  ;line-height: 1.5;text-align: center;font-weight: 600;}
.category-content li{position: relative;margin-bottom: 30px;}
.category-content li:first-child{border-top: none;}
.category-content .img-wrap{width: 298px ;margin-right: 40px;display: block;overflow: hidden;border-radius: 10px;}
.category-content .img-wrap img{transition: transform .3s ease-in-out;}
.category-content .title-wrap .title {color: #434343;font-size: 2rem;line-height: 1.5;transition: color .3s ease 0s;margin:0px 0 8px;overflow: hidden;font-weight: 700;}
.category-content .main-content {font-size: 1.8rem;line-height: 1.5;color:#535353;margin-top: 10px;}
.category-content li:hover .title{text-decoration: underline;}
.sidebar-main-title{overflow: hidden;padding: 5px 20px;background: #EBF3FA;border-radius: 10px;display: inline-block;margin:80px 0}
.sidebar-main-title .main-title{color: #2356F6;font-size:1.8rem;line-height: 1.5;text-align: center;font-weight: 700;}

.read-more{font-size: 14px; line-height: 17px; font-weight: 700; text-decoration-line: underline; color: #2F82FF;}

@media only screen and (max-width:849px){
    .category-left-wrap,.category-right-wrap,.search-left-wrap,.search-right-wrap,.contact-wrap,.contact-sidebar{max-width: 100%;flex: 1 1 100%;}

  }
  
  @media only screen and (max-width:650px){
    .sidebar-main-title{margin: 50px 0;}
    .category-content li{border-top: solid 1px #e8e8e8;margin-bottom: 40px;}
    .category-content li .right-section{ max-width: 100%}
    .category-left-wrap .inner-content{margin-top: 40px;}
    .category-title h6{font-size:2.4rem;}
    .category-content .title-wrap .title{font-size: 1.6rem;margin-top: 20px;}
    .category-content .main-content {font-size: 1.4rem;}
    .title-el2{display: block;-webkit-line-clamp: unset;}
    .category-left-wrap .inner-content,.btm-post-wrap .inner-content,.search-left-wrap .inner-content{flex-wrap:wrap;}
    .category-content .img-wrap,.category-content .left-section,.search-content .img-wrap,.search-content .left-section{width:100%}
  }