 
  /* common classes */
  .container{
    max-width: 1024px;
     position: relative;
    margin: 0 auto;
}
.img-wrap{
  max-width: 100%;
  height: auto;
}

.title{
  font-size: 4em;
  line-height: 1.25;
  font-weight: bold;
  color: #0F0F32;
  font-family: "Manier";
  opacity: 1;
  text-align: center;
}
.btn{
width: 130px;
height: 35px;
font-family: "Jost";
border-radius: 50px;
}
.inner-wrap{
  /* min-height: auto; */
}
.description{
  text-align: center;
}
.a{
  font-weight: bold;    
  text-decoration: underline;
}
/* sec 1................................................................................................ */
.section1 {
  background-color: #f3f3f3; 
}
.sec1-inner-wrap{
  display: flex;
  justify-content: space-between;
 padding-top: 70px;
}
.sec1-inner-wrap .left-wrap{
  /* background-color: red; */
  width: 35%;
  padding-top: 80px;
  /* padding-left: 100px; */
}
.sec1-inner-wrap .left-wrap .title span{
      font-weight: bold;    
      text-decoration: underline;
}
.sec1-inner-wrap .right-wrap .img-wrap{
  padding-top: 200px;
}
#sec1-title{
  font-size: 4em;
  line-height: 1.25;
  text-align: left;
}
#sec1-btn{
  font-size: 2em;
  line-height: 1.25;
  font-weight: normal;
  color: #F3F3F3;
  background-color: #0F0F32;
  margin-top: 50px;
}
.sec1-right-wrap{
  width: 65%;
  max-width: 1170px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 -120px 0 0;
}
/* sec2............................................................................ */
.sec2-heading{
  padding-top: 75px;
}

#sec2-title{
  font-size: 4em;
  line-height: 1.25;
}
.description{
  font-size: 1.5em;
  line-height: 1.25;
  margin-top: 25px;
}
.section2 .container{
  max-width: 1024px;
 margin: 0 auto;
}
.sec2-cards{
  padding-top: 75px;
}
.section2 .sec2-cards .inner-wrap{
  display: flex;
}
#card1{
  background-color: #EFE1D8;
}
#sec2-card1{
  background-color: #EFE1D8;
}
#sec2-card2{
  background-color: #D8EBD8;
}
#sec2-card3{
  background-color: #C6D9E5;
}
#sec2-card1, #sec2-card2, #sec2-card3{
  width: 33.33%;
  max-width: 640px;
  height: 330px;
  background-size: contain;
  background-repeat: no-repeat;
}
#card2{
  background-color: #D8EBD8;
}
#card3{
  background-color: #C6D9E5;
}
/* section3..................................................... */

.section3{
  padding-top: 100px;
  /* background-color: red; */
}
.section3 .container .sec3-heading p{
  font-size: 2em;
  line-height: 1.25;
  font-weight: normal;
  font-family: "Jost";
  text-align: center;
  margin-top: 37px;
}
.products-card{
  margin-top: 90px;
  /* background-color: red; */
}
.products-card .inner-wrap{
  display: flex;
  justify-content: space-between;
}
.product{
  width: 30%;
  max-width: 400px;
}
.product-up{
  background-color: #f3f3f3;
}
.product1-img, .product2-img, .product3-img{
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* section4.......................................................................... */
.section4{
  background-color: #f3f3f3;
  margin-top: 90px;
}
#sec4-inner-wrap{
  padding-top: 80px;
  display: flex;
}
#sec4-title{
  font-size: 3em;
 text-align: left;
}
#sec4-inner-wrap .left-wrap{
  width: 35%;
}
#sec4-inner-wrap .left-wrap p{
  line-height: 1.25;
  margin-top: 35px;
  text-align: left;
}
#sec4-btn{
  background-color: #0F0F32;
  color: #f3f3f3;
  margin-top: 35px;
}
.sec4-right-wrap{
  width: 65%;
  max-width: 1071px;
  height: 376px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 -150px 0 0;
}

/* section5........................................................ */
#sec5-container{
margin-top: 64px;
}
#sec5-title{
  font-size: 4em;
}
.sec5-cards{
  margin-top: 63px;
  /* padding: 0 200px; */
  display: flex;
  justify-content: space-between;
}
.card-title{
  font-size: 2em;
  line-height: 1.25;
  font-weight: bold;
  margin-top: 20px;
}
#card-para{
  margin-top: 10px;
}
.sec5-cards .cards{
  width: 30%;
  max-width: 400px;
}

#sec5-c1, #sec5-c2, #sec5-c3{
  height: 376px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* section6............................................................. */
.section6{
background-color: #ffff;
}
#sec6-container{
  margin-top: 93px;
  /* background-color: red; */
}
#sec6-title{
  font-size: 4em;
}
.inner-wrap{
  min-height: auto;
}
.sec6-cards{
margin-top: 75px;
/* padding: 0 200px; */
display: flex;
justify-content: space-between;
}
.sec6-cards .card{
  width: 50%;
  max-width: 400px;
}
#sec6-c1, #sec6-c2, #sec6-c3{
background-size: contain;
background-repeat: no-repeat;
  height: 376px;
}
/* section7...................................................... */
.section7{
  /* background-color: red; */
}
#sec7-container{
margin-top: 100px;
}
#sec7-inner-wrap{
display: flex;
justify-content: space-between;
}
.sec7-left-wrap{
padding-top: 136.5px;
/* padding-left: 100px; */
width: 35%;
}
#sec7-para{
margin-top: 24px;
}
.input{
width: 260px;
height: 35px;
background-color: #f3f3f3;
border: none;
border-radius: 25px;
/* padding-left: 17.5px; */
padding: 13.5px 17.5px;
margin-top: 25px;
}
#sec7-btn{
background-color: #0F0F32;
color: #f3f3f3;
margin-top: 25px;
}
#sishood{
  width: 985px;
  height: 703px;
}
.sec7-right-wrap{
  width: 65%;
  max-width: 985px;
  height: 440px;
  background-size: contain;
  background-repeat: no-repeat;
margin-left: 30px;
}
