 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 html,body{
  height: 100%;
  width: 100%;
 }
 
nav {
  /* background-color: red; */
    width: 1920px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav > .center {
    width: 50%;
    font-weight: bold;
    font-family: "Futura Md BT";
    font-size: 21px;
  }
  nav > .center > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font: normal normal medium 18px/26px Jost;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
  }
  nav > .right {
    height: 100%;
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-evenly;
    font-size: 24px;
  }
  main > .s1{
    width: 1920px;
    background-color: #f3f3f3;
    display: flex;
    padding: 0 117px 0 100px;
  }
  .s1 > .s1l{
 padding: 288px 0 272px 0;
 /* background-color: red; */
  }
  .s1l > h1{
    text-align: left;
font: normal normal bold 80px/96px Manier;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
margin-bottom: 50px;
  }
  .s1l > button{
    width: 177px;
height: 55px;
    background: #0F0F32 0% 0% no-repeat padding-box;
border-radius: 50px;
opacity: 1;
font: normal normal medium 20px/29px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
  }
  .s1r{
    padding-top: 32px;
    margin-left: 372px;
  }
  /* temporary width & height */
  .s1r > img{
    /* width: 671px; */
    height: 908px;
  }
  /* .img-wrap{
    max-width: 100%;
    height: auto;
  } */
  .s2{
    width: 1920px;
    padding: 100px 100px 97px 100px;
  }
  .s2 > h1{
    text-align: center;
font: normal normal bold 40px/48px Manier;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
  }
.s2 > p{
  margin-top: 25px;
  text-align: center;
font: normal normal 500 20px/29px Jost;
letter-spacing: 0px;
opacity: 1;
}
.s2 > p > span{
  font-weight: bold;
  text-decoration: underline;
}
.s3{
  width: 1920px;
  display: flex;
}
.s3 > .s3cards{
  width: 640px;
  height: 640px;
}
/* temporary width & height */
.s3cards > img{
  width: 640px;
  height: 640px;
}
.s4{
  width: 1920px;
}
.s4 > .s4u{
  padding: 140px 100px 97px 100px;
}
.s4u > h1{
  text-align: center;
font: normal normal bold 40px/48px Manier;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
}
.s4u > p{
  margin-top: 37px;
  text-align: center;
font: normal normal 500 20px/29px Jost;
letter-spacing: 0px;
color: #757575;
opacity: 1;
}
.s4d{
  padding: 0 200px 90px 200px;
  display: flex;
  justify-content: space-around;
}
.s4d > .s4cards{
  width: 400px;
  display: flex;
  flex-direction: column;
}
/* temporary width & height */
.s4d > .s4cards > .cu > img{
    width: 400px;
    height: 500px;
}
.s4d > .s4cards > .cd{
  margin-top: 28px;
}
.s4d > .s4cards > .cd > h1{
  text-align: left;
font: normal normal 500 20px Jost;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
}
.s4d > .s4cards > .cd > h2{
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
font: normal normal 500 20px Jost;
letter-spacing: 0px;
color: #757575;
opacity: 1;
}
.s4d > .s4cards > .cd > h3{
  text-align: left;
font: normal normal 500 20px Jost;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.button{
  margin-top: 20px;
}
#b1{
  width: 177px;
height: 55px;
background: #0F0F32 0% 0% no-repeat padding-box;
border-radius: 50px;
opacity: 1;
font: normal normal 500 20px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
#b2{
  margin-left: 42px;
  width: 177px;
height: 55px;
border: 2px solid #0F0F32;
border-radius: 50px;
opacity: 1;
font: normal normal 500  20px Jost;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
}
.s5{
  width: 1920px;
  background-color: #f3f3f3;
  padding: 83px 21px 0 100px;
  display: flex;
}
.s5l{
  width: 900px;
}
.s5l > h1{
  text-align: left;
font: normal normal bold 80px/96px Manier;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
}
.s5l > p{
  margin-top: 35px;
  margin-bottom: 34px;
  text-align: left;
font: normal normal medium 24px/35px Jost;
letter-spacing: 0px;
color: #757575;
opacity: 1;
}
.s5l > button{
  width: 177px;
height: 55px;
  background: #0F0F32 0% 0% no-repeat padding-box;
border-radius: 50px;
opacity: 1;
font: normal normal medium 20px/29px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
/* temporary height */
.s5r > img{
      height: 624px;
}
.s6{
  width: 1920px;
  padding: 64px 200px 0 200px;
}
.s6 > h1{
  text-align: center;
font: normal normal bold 40px/48px Manier;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
}
.s6b{
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
}
.cu > img{
  width: 400px;
  height: 500px;
}
.cd > h1{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
font: normal normal medium 20px/29px Jost;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1;
}
.cd  > p{
  text-align: left;
font: normal normal medium 16px/23px Jost;
letter-spacing: 0px;
color: #9B9B9B;
opacity: 1;
}
.s6c > h1{
  margin-top: 93px;
  text-align: center;
font: normal normal bold 40px/48px Manier;
letter-spacing: 0px;
color: #0F0F32;
opacity: 1
}
.s6d{
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}
.s6d > img{
  width: 400px;
  height: 500px;
}
.s6e{
  width: 1920px;
  margin-top: 100px;
  display: flex;
}
.s6el{
  width: 545px;
}
.s6el > h1{
  text-align: left;
font: normal normal bold 80px/96px Manier;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.s6el > h3{
  margin-top: 24px;
  margin-bottom: 47px;
  text-align: left;
font: normal normal medium 20px/29px Jost;
letter-spacing: 0px;
color: #757575;
opacity: 1;
}
.s6el > input{
  margin-bottom: 50px;
  text-align: justify;
  border: none;
  background: #F3F3F3 0% 0% no-repeat padding-box;
border-radius: 25px;
opacity: 1;
width: 453px;
height: 50px;
font: normal normal medium 16px/23px Jost;
letter-spacing: 0px;
color: #C9C9C9;
opacity: 1;
}
.s6el > button{
  width: 177px;
height: 55px;
background: #0F0F32 0% 0% no-repeat padding-box;
border-radius: 50px;
opacity: 1;
font: normal normal medium 20px/29px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
.s6er > img{
  /* width: 985px; */
  height: 703px;
  margin-left: 172px;
}
footer{
  color: white;
  background-color: #0F0E26;
  width: 1920px;
  padding: 48px 100px 51px 136px;
}
.fu{
  margin: 0 auto;
  max-width: 1684px;
  display: flex;
}
.fu1{
  width: 400px;
display: flex;
flex-direction: column;
}
.fu1 > h1{
  text-align: left;
font: normal normal bold 29px Jost;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}
.fu11{
  display: flex;
  justify-content: space-between;
}
.fu1a{
  margin-top: 40px;
}
.fu1a > h2{
  text-align: left;
font: normal normal medium 16px/23px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
.fu1a > ul > li{
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
font: normal normal 300 16px/23px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
#ic{
  color: white;
}
.fu2{
  margin-left: 121px;
}
.fu2 > h1{
  text-align: left;
font: normal normal bold 29px Jost;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}
.fu2 > ul{
  margin-top: 40px;
}
.fu2 > ul > li{
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
font: normal normal 300 16px/23px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
.fu3{
  margin-left: 140px;
}
.fu3 > h1{
  text-align: left;
  font: normal normal bold 29px Jost;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.fu3 > ul{144pxwidth: 144px;
  margin-top: 40px;
}
.fu3 > ul > li{
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
font: normal normal 300 16px/23px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
.fu4{
  /* background-color: red; */
  font-size: 28px;
  width: 144px;
  margin-left: 500px;
  display: flex;
  justify-content: space-between;
}
.fd{
  /* background-color: red; */
  margin-top: 164px;
  display: flex;
  align-items: center;
  
}
.fdl > h2{
  text-align: left;
font: normal normal 500 16px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
.fdc > h2{
  margin-left: 616px;
  text-align: left;
font: normal normal 500 16px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
}
 .fdr{
  margin-left: 543px;
  width: 275px;
  display: flex;
  justify-content: space-between;
 }
 .fdr > h2{
  text-align: left;
font: normal normal 500 16px Jost;
letter-spacing: 0px;
color: #F3F3F3;
opacity: 1;
 }
 .footer2{
  height: 100px;
 }
